<div mat-dialog-title>
   <h1 class="font">Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Ex. John Smith" formControlName="name">
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Designation</mat-label>
            <input matInput type="text" placeholder="Ex. Manager" formControlName="designation">
        </mat-form-field>
            
        

        <mat-form-field appearance="outline">
            <mat-label>Salary</mat-label>
            <input matInput type="number" placeholder="Ex.10,000" formControlName="salary">
        </mat-form-field>
    </div>

</div>

<div mat-dialog-actions class="action">
    <button mat-raised-button mat-button type="button"[mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button mat-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
</div>
</form>